@model ShoeStore.Domain.DTOs.AdminSide.Role.CreateRoleDto

<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            افزودن نقش
                            <small>پنل مدیریت مالتی کارت</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                                <i data-feather="home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">مدیریت نقش‌ها </li>
                        <li class="breadcrumb-item active">افزودن نقش</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-area="Admin" asp-controller="Role" asp-action="CreateRole" method="post" class="needs-validation">
                            <div class="form-group row">
                                <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>عنوان نقش </label>
                                <div class="col-md-7">
                                    <input asp-for="RoleTitle" class="form-control" id="validationCustom0" type="text" required="">
                                    <span style="color: red; position: relative;" asp-validation-for="RoleTitle"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>Role Unique Name </label>
                                <div class="col-md-7">
                                    <input asp-for="RoleUniqueName" class="form-control" id="validationCustom0" type="text" required="">
                                    <span style="color: red; position: relative;" asp-validation-for="RoleUniqueName"></span>
                                </div>
                            </div>
                            <div style="display: flex;flex-direction: row">
                                <a asp-area="Admin" asp-controller="Role" asp-action="ListOfRoles" class="btn btn-primary" style="margin-left: 20px">لغو</a>
                                <button type="submit" class="btn btn-success d-block">ذخیره</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>