@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ShoeStore.Application.Utilities
@model ShoeStore.Domain.DTOs.AdminSide.User.AdminAvatarDto

<div class="main-header-right row">
    <div class="main-header-left d-lg-none w-auto">
        <div class="logo-wrapper">
            <a href="index.html">
                <img class="blur-up lazyloaded d-block d-lg-none" src="~/assets/images/dashboard/multikart-logo-black.png" alt="">
            </a>
        </div>
    </div>
    <div class="mobile-sidebar w-auto">
        <div class="media-body text-end switch-sm">
            <label class="switch">
                <a href="javascript:void(0)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-left" id="sidebar-toggle"><line x1="17" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="17" y1="18" x2="3" y2="18"></line></svg>
                </a>
            </label>
        </div>
    </div>
    <div class="nav-right col">
        <ul class="nav-menus">
            <li>
                <form class="form-inline search-form">
                    <div class="form-group">
                        <input class="form-control-plaintext" type="search" placeholder="جستجو...">
                        <span class="d-sm-none mobile-search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                        </span>
                    </div>
                </form>
            </li>
            <li>
                <a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize-2"><polyline points="15 3 21 3 21 9"></polyline><polyline points="9 21 3 21 3 15"></polyline><line x1="21" y1="3" x2="14" y2="10"></line><line x1="3" y1="21" x2="10" y2="14"></line></svg>
                </a>
            </li>
            <li class="onhover-dropdown">
                <a class="txt-dark" href="javascript:void(0)">
                    <h6>EN</h6>
                </a>
                <ul class="language-dropdown onhover-show-div p-20">
                    <li>
                        <a href="javascript:void(0)" data-lng="en">
                            <i class="flag-icon flag-icon-is"></i>انگلیسی
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-lng="es">
                            <i class="flag-icon flag-icon-um"></i>اسپانیایی
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-lng="pt">
                            <i class="flag-icon flag-icon-uy"></i>پرتغال
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-lng="fr">
                            <i class="flag-icon flag-icon-nz"></i>فرانسه
                        </a>
                    </li>
                </ul>
            </li>
            <li class="onhover-dropdown">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
                <span class="badge badge-pill badge-primary pull-right notification-badge">3</span>
                <span class="dot"></span>
                <ul class="notification-dropdown onhover-show-div p-0">
                    <li>اطلاعیه<span class="badge badge-pill badge-primary pull-right">3</span></li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6 class="mt-0">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag shopping-color"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
                                    </span>لیست سفارشات شما آماده است ....
                                </h6>
                                <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6 class="mt-0 txt-success">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download download-color font-success"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
                                    </span>لیست سفارشات شما آماده است ....
                                </h6>
                                <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6 class="mt-0 txt-danger">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle alert-color font-danger"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
                                    </span>لیست سفارشات شما آماده است ....
                                </h6>
                                <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </div>
                    </li>
                    <li class="txt-dark"><a href="javascript:void(0)">همه </a> اطلاعیه</li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square right_side_toggle"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                    <span class="dot"></span>
                </a>
            </li>
            <li class="onhover-dropdown">
                <div class="media align-items-center">
                    @if (string.IsNullOrEmpty(Model.UserAvatar))
                    {

                        <img class="align-self-center pull-right img-50 blur-up lazyloaded" src="/images/Defult.jpg" alt="header-user">
                    }
                    else
                    {
                        <img class="align-self-center pull-right img-50 blur-up lazyloaded" src="/images/UserAvatar/@Model.UserAvatar" alt="header-user">

                    }
                    <div class="dotted-animation">
                        <span class="animate-circle"></span>
                        <span class="main-circle"></span>
                    </div>
                </div>
                <ul class="profile-dropdown onhover-show-div p-20 profile-dropdown-hover">
                    <li>
                        <a asp-area="Admin" asp-controller="Users" asp-action="EditAdminProfile" asp-route-id="@User.GetUserId()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>ویرایش پروفایل
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Logout">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>خروج
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="d-lg-none mobile-toggle pull-right">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
        </div>
    </div>
</div>
