@model ShoeStore.Domain.DTOs.SiteSide.Account.UserLoginDto

<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>ورود مشتری</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">خانه</a></li>
                        <li class="breadcrumb-item active">ورود</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>ورود </h3>
                <div class="theme-card">
                    <form class="theme-form" asp-controller="Account" asp-action="Login" method="post">
                        <input type="hidden" asp-for="ReturnUrl"/>
                        <div class="form-group">
                            <label for="email">شماره موبایل</label>
                            <input asp-for="Mobile" type="text" class="form-control" id="email" placeholder="موبایل" required="">
                            <span style="color: red; position: relative; top: -20px" asp-validation-for="Mobile"></span>
                        </div>
                        <div class="form-group">
                            <label for="review">پسورد </label>
                            <input asp-for="Password" type="password" class="form-control" id="review" placeholder="پسورد را وارد کنید" required="">
                            <span style="color: red; position: relative; top: -20px" asp-validation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            <div class="form-terms">
                                <div class="form-check mesm-2">
                                    <input asp-for="RememberMe" type="checkbox" style="margin-left: 10px" id="customControlAutosizing">
                                    <label for="customControlAutosizing">به خاطر سپردن</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-solid">ورود</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>مشتری جدید</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">ساخت حساب </h6>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                    <a asp-controller="Account" asp-action="Register" class="btn btn-solid">ساخت حساب </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->