@model ICollection<ShoeStore.Domain.DTOs.SiteSide.ProductCategory.ParentCategoryDTO>



<ul id="main-menu" class="sm pixelstrap sm-horizontal">
    <li>
        <div class="mobile-back text-start ltr">برگشت<i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
    </li>
    <li><a asp-controller="Home" asp-action="Index">خانه</a></li>
    @foreach (var parentCategory in Model)
    {
        <li>
            <a asp-action="Index" asp-controller="Category" asp-route-categoryId="@parentCategory.Id">@parentCategory.Title</a>
            <ul>
                @if (parentCategory.ChildCategories != null && parentCategory.ChildCategories.Any()){
                    @foreach (var childCategory in parentCategory.ChildCategories)
                    {

                        <li><a asp-action="Index" asp-controller="Category" asp-route-categoryId="@childCategory.Id">@childCategory.Title </a></li>
                        
                    }
                }
            </ul>
            
        </li>
    }
    <li>
        <a href="#">وبلاگ</a>
    </li>
</ul>