 <!-- section start -->
<section class="p-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                    <div class="error-section">
                        <a href="index.html" class="btn btn-solid">برگشت به خانه</a>
                        <h2>خرید شما با موفقیت ثبت شد </h2>
                    </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->