@{
    ViewData["Title"] = "Home Page";
}

<!-- Home slider -->
<section class="p-0">
    <div class="slide-1 home-slider">
        <div>
            <div class="home text-center">
                <img src="~/images/home-banner/3.jpg" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>پیشنهاد ویژه</h4>
                                    <h1>کفش مردانه</h1><a href="#" class="btn btn-solid black-btn">خرید کنید </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="home text-center">
                <img src="~/images/home-banner/4.jpg" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>پیشنهاد ویژه</h4>
                                    <h1>کفش مردانه</h1><a href="#" class="btn btn-solid black-btn">خرید کنید </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="home text-center">
                <img src="~/images/home-banner/5.jpg" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>پیشنهاد ویژه</h4>
                                    <h1>کفش مردانه</h1><a href="#" class="btn btn-solid black-btn">خرید کنید </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home slider end -->
<!-- category -->
<div class="container">
    <section class="section-b-space border-section border-top-0">
        <div class="row">
            <div class="col">
                <div class="slide-6 no-arrow">
                    <div class="category-block">
                        <a href="#">
                            <div class="category-image"><img src="~/images/icon/cat1.png" alt=""></div>
                        </a>
                        <div class="category-details">
                            <a href="#">
                                <h5>کفش ورزشی</h5>
                            </a>
                        </div>
                    </div>
                    <div class="category-block">
                        <a href="#">
                            <div class="category-image"><img src="~/images/icon/cat2.png" alt=""></div>
                        </a>
                        <div class="category-details">
                            <a href="#">
                                <h5>کفش راحتی</h5>
                            </a>
                        </div>
                    </div>
                    <div class="category-block">
                        <a href="#">
                            <div class="category-image"><img src="~/images/icon/cat3.png" alt=""></div>
                        </a>
                        <div class="category-details">
                            <a href="#">
                                <h5>کفش رسمی</h5>
                            </a>
                        </div>
                    </div>
                    <div class="category-block">
                        <a href="#">
                            <div class="category-image"><img src="~/images/icon/cat4.png" alt=""></div>
                        </a>
                        <div class="category-details">
                            <a href="#">
                                <h5>فلت </h5>
                            </a>
                        </div>
                    </div>
                    <div class="category-block">
                        <a href="#">
                            <div class="category-image"><img src="~/images/icon/cat5.png" alt=""></div>
                        </a>
                        <div class="category-details">
                            <a href="#">
                                <h5>فلت </h5>
                            </a>
                        </div>
                    </div>
                    <div class="category-block">
                        <a href="#">
                            <div class="category-image"><img src="~/images/icon/cat6.png" alt=""></div>
                        </a>
                        <div class="category-details">
                            <a href="#">
                                <h5>فلت </h5>
                            </a>
                        </div>
                    </div>
                    <div class="category-block">
                        <a href="#">
                            <div class="category-image"><img src="~/images/icon/cat2.png" alt=""></div>
                        </a>
                        <div class="category-details">
                            <a href="#">
                                <h5>کفش راحتی</h5>
                            </a>
                        </div>
                    </div>
                    <div class="category-block">
                        <a href="#">
                            <div class="category-image"><img src="~/images/icon/cat3.png" alt=""></div>
                        </a>
                        <div class="category-details">
                            <a href="#">
                                <h5>کفش راحتی</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- category end -->
<!-- about section-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="title3">
                    <h4>در باره ما </h4>
                    <h2 class="title-inner3">به چند فروشگاه خوش آمدید</h2>
                    <div class="line"></div>
                </div>
                <div class="about-text">
                    <p>اما برای اینکه ببینید این همه اشتباه زاییده کسانی که لذت را متهم می کنند و درد را می ستایند از کجا آمده است، من تمام موضوع را باز می کنم و همان چیزهایی را که توسط آن کاشف حقیقت و به قول معمار یک زندگی شاد زیرا هیچ‌کس لذت را تحقیر نمی‌کند، متنفر نمی‌کند یا از آن فرار نمی‌کند، بلکه به خاطر آن است که دردهای بزرگ برای کسانی است که نمی‌دانند چگونه لذت را با عقل دنبال کنند.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end -->
<!-- مجموعه بنر -->
<section class="section-b-space pt-0 ratio_40">
    <div class="container">
        <div class="row partition2">
            <div class="col-md-6">
                <a href="#">
                    <div class="collection-banner p-right text-center">
                        <div class="img-part">
                            <img src="~/images/sub-banner.png" class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                        <div class="contain-banner">
                            <div>
                                <h4 class="text-white">50 درصد تخفیف</h4>
                                <h2>مردانه </h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#">
                    <div class="collection-banner p-right text-center">
                        <div class="img-part">
                            <img src="~/images/sub-banner1.png" class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                        <div class="contain-banner">
                            <div>
                                <h4 class="text-white">50 درصد تخفیف</h4>
                                <h2>زنانه  </h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- مجموعه بنر end -->
<!-- product-box 1 -->
<section class="section-b-space pt-0 ratio_asos">
    <div class="container">
        <div class="title3">
            <h4>مجموعه ما</h4>
            <h2 class="title-inner3">محصولات خاص</h2>
            <div class="line"></div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product-4 product-m no-arrow">
                    <div class="product-box">
                        <div class="img-block">
                            <div class="front">
                                <a href="product-page(no-sidebar).html"><img src="~/images/pro/1.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                            </div>
                            <div class="back">
                                <a href="product-page(no-sidebar).html"><img src="~/images/pro/5.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                            </div>
                            <div class="cart-info">
                                <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                    <i class="ti-shopping-cart"></i>
                                </button>
                                <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>پیراهن نخی زیبا</h6>
                            </a>
                            <h4>1500.000</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-block">
                            <div class="lable-wrapper">
                                <span class="lable1">جدید  </span> <span class="lable2">
                                    30%
                                    تخفیف
                                </span>
                            </div>
                            <div class="front">
                                <a href="product-page(no-sidebar).html"><img src="~/images/pro/2.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                            </div>
                            <div class="back">
                                <a href="product-page(no-sidebar).html"><img src="~/images/pro/6.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                            </div>
                            <div class="cart-info">
                                <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                    <i class="ti-shopping-cart"></i>
                                </button>
                                <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>پیراهن نخی زیبا</h6>
                            </a>
                            <h4>1500.00 <del>1600.00</del></h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-block">
                            <div class="front">
                                <a href="product-page(no-sidebar).html"><img src="~/images/pro/3.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                            </div>
                            <div class="back">
                                <a href="product-page(no-sidebar).html"><img src="~/images/pro/7.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                            </div>
                            <div class="cart-info">
                                <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                    <i class="ti-shopping-cart"></i>
                                </button>
                                <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>پیراهن نخی زیبا</h6>
                            </a>
                            <h4>1500.000</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-block">
                            <div class="lable-wrapper">
                                <span class="lable1">جدید  </span> <span class="lable2">
                                    30%
                                    تخفیف
                                </span>
                            </div>
                            <div class="front">
                                <a href="product-page(no-sidebar).html"><img src="~/images/pro/4.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                            </div>
                            <div class="back">
                                <a href="product-page(no-sidebar).html"><img src="~/images/pro/8.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                            </div>
                            <div class="cart-info">
                                <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                    <i class="ti-shopping-cart"></i>
                                </button>
                                <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>پیراهن نخی زیبا</h6>
                            </a>
                            <h4>1500.000</h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-block">
                            <div class="lable-wrapper">
                                <span class="lable1">جدید  </span> <span class="lable2">
                                    30%
                                    تخفیف
                                </span>
                            </div>
                            <div class="front">
                                <a href="product-page(no-sidebar).html"><img src="~/images/pro/5.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                            </div>
                            <div class="back">
                                <a href="product-page(no-sidebar).html"><img src="~/images/pro/7.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                            </div>
                            <div class="cart-info">
                                <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                    <i class="ti-shopping-cart"></i>
                                </button>
                                <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            <a href="product-page(no-sidebar).html">
                                <h6>پیراهن نخی زیبا</h6>
                            </a>
                            <h4>1500.00 <del>1600.00</del></h4>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product-box 1 end -->
<!-- category 2 -->
<section class="p-0 ratio2_1">
    <div class="container-fluid">
        <div class="row category-border">
            <div class="col-sm-4 border-padding">
                <div class="category-banner">
                    <div>
                        <img src="~/images/shoes/cat1.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
                    </div>
                    <div class="category-box">
                        <a href="#">
                            <h2>مردانه </h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 border-padding">
                <div class="category-banner">
                    <div>
                        <img src="~/images/shoes/cat2.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
                    </div>
                    <div class="category-box">
                        <a href="#">
                            <h2>زنانه  </h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 border-padding">
                <div class="category-banner">
                    <div>
                        <img src="~/images/shoes/cat3.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
                    </div>
                    <div class="category-box">
                        <a href="#">
                            <h2>بچگانه</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- category 2 end -->
<!-- product slider -->
<section class="section-b-space">
    <div class="container">
        <div class="row چند اسلایدر">
            <div class="col-lg-3 col-sm-6">
                <div class="theme-card">
                    <h5 class="title-border">محصول جدید</h5>
                    <div class="offer-slider slide-1">
                        <div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/1.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.00 <del>1600.00</del></h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/2.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.000</h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/3.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.000</h4>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/10.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.00 <del>1600.00</del></h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/11.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.000</h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/12.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.000</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="theme-card">
                    <h5 class="title-border">محصولات ویژه</h5>
                    <div class="offer-slider slide-1">
                        <div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/4.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.000</h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/5.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.00 <del>1600.00</del></h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/6.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.000</h4>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/7.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.000</h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/8.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.000</h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/9.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.00 <del>1600.00</del></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="theme-card">
                    <h5 class="title-border">بهترین فروش</h5>
                    <div class="offer-slider slide-1">
                        <div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/7.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.00 <del>1600.00</del></h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/8.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.000</h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/9.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.000</h4>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/6.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.00 <del>1600.00</del></h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/7.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.000</h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/8.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.000</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="theme-card">
                    <h5 class="title-border">حراج </h5>
                    <div class="offer-slider slide-1">
                        <div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/10.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.000</h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/11.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.000</h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/12.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.000</h4>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/3.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.000</h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/4.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.000</h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href="product-page(no-sidebar).html"><img class="img-fluid blur-up lazyload" src="~/images/shoes/5.jpg" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>پیراهن نخی زیبا</h6>
                                    </a>
                                    <h4>1500.000</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product slider end -->
<!-- category 3 -->
<section class="p-0">
    <div class="container">
        <div class="row background">
            <div class="col">
                <a href="#">
                    <div class="contain-bg">
                        <h4 data-hover="size 06">سایز 6 </h4>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div class="contain-bg">
                        <h4>سایز 7</h4>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div class="contain-bg">
                        <h4>سایز 8</h4>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div class="contain-bg">
                        <h4>سایز 9</h4>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div class="contain-bg">
                        <h4>سایز 10</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- category 3 end-->
<!-- slider tab  -->
<section class="section-b-space ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="theme-tab">
                    <ul class="tabs tab-title2">
                        <li class="current"><a href="tab-1">محصولات با حرکت سریع</a></li>
                        <li class=""><a href="tab-2">معامله ویژه</a></li>
                        <li class=""><a href="tab-3">روندهای هفته</a></li>
                    </ul>
                    <div class="tab-content-cls">
                        <div id="tab-1" class="tab-content active default">
                            <div class="product-4 product-m no-arrow">
                                <div class="product-box">
                                    <div class="img-block">
                                        <div class="front">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/5.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="back">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/1.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                            <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                            <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>پیراهن نخی زیبا</h6>
                                        </a>
                                        <h4>1500.00 <del>1600.00</del></h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-box">
                                    <div class="img-block">
                                        <div class="lable-wrapper"><span class="lable1">جدید  </span> <span class="lable2">30% تخفیف </span></div>
                                        <div class="front">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/6.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="back">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/2.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                            <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                            <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>پیراهن نخی زیبا</h6>
                                        </a>
                                        <h4>1500.000</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-box">
                                    <div class="img-block">
                                        <div class="front">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/7.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="back">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/3.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                            <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                            <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>پیراهن نخی زیبا</h6>
                                        </a>
                                        <h4>1500.000</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-box">
                                    <div class="img-block">
                                        <div class="front">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/8.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="back">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/4.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                            <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                            <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>پیراهن نخی زیبا</h6>
                                        </a>
                                        <h4>1500.000</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-box">
                                    <div class="img-block">
                                        <div class="lable-wrapper"><span class="lable1">جدید  </span> <span class="lable2">30% تخفیف </span></div>
                                        <div class="front">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/4.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="back">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/2.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                            <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                            <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>پیراهن نخی زیبا</h6>
                                        </a>
                                        <h4>1500.000</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-content">
                            <div class="product-4 product-m no-arrow">
                                <div class="product-box">
                                    <div class="img-block">
                                        <div class="front">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/7.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="back">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/3.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                            <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                            <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>پیراهن نخی زیبا</h6>
                                        </a>
                                        <h4>1500.000</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-box">
                                    <div class="img-block">
                                        <div class="front">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/8.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="back">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/4.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                            <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                            <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>پیراهن نخی زیبا</h6>
                                        </a>
                                        <h4>1500.000</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-box">
                                    <div class="img-block">
                                        <div class="lable-wrapper"><span class="lable1">جدید  </span> <span class="lable2">30% تخفیف </span></div>
                                        <div class="front">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/4.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="back">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/2.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                            <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                            <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>پیراهن نخی زیبا</h6>
                                        </a>
                                        <h4>1500.000</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-box">
                                    <div class="img-block">
                                        <div class="front">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/5.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="back">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/1.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                            <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                            <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>پیراهن نخی زیبا</h6>
                                        </a>
                                        <h4>1500.00 <del>1600.00</del></h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-box">
                                    <div class="img-block">
                                        <div class="lable-wrapper"><span class="lable1">جدید  </span> <span class="lable2">30% تخفیف </span></div>
                                        <div class="front">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/6.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="back">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/2.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                            <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                            <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>پیراهن نخی زیبا</h6>
                                        </a>
                                        <h4>1500.000</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-content">
                            <div class="product-4 product-m no-arrow">
                                <div class="product-box">
                                    <div class="img-block">
                                        <div class="front">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/8.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="back">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/4.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                            <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                            <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>پیراهن نخی زیبا</h6>
                                        </a>
                                        <h4>1500.000</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-box">
                                    <div class="img-block">
                                        <div class="lable-wrapper"><span class="lable1">جدید  </span> <span class="lable2">30% تخفیف </span></div>
                                        <div class="front">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/6.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="back">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/2.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                            <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                            <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>پیراهن نخی زیبا</h6>
                                        </a>
                                        <h4>1500.000</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-box">
                                    <div class="img-block">
                                        <div class="front">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/7.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="back">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/3.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                            <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                            <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>پیراهن نخی زیبا</h6>
                                        </a>
                                        <h4>1500.000</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-box">
                                    <div class="img-block">
                                        <div class="front">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/5.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="back">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/1.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                            <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                            <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>پیراهن نخی زیبا</h6>
                                        </a>
                                        <h4>1500.00 <del>1600.00</del></h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-box">
                                    <div class="img-block">
                                        <div class="lable-wrapper"><span class="lable1">جدید  </span> <span class="lable2">30% تخفیف </span></div>
                                        <div class="front">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/4.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="back">
                                            <a href="product-page(no-sidebar).html"><img src="~/images/pro/2.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <button tabindex="0" onclick="openCart()" title="اضافه کردن به سبد">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                            <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a>
                                            <a href="compare.html" title="مقایسه "><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>پیراهن نخی زیبا</h6>
                                        </a>
                                        <h4>1500.000</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider tab end -->
