@model ShoeStore.Domain.DTOs.SiteSide.Order.InvoiceSiteSideViewModel
<div class="cart_media">
    @if (Model==null || Model.InvoiceOrderItem==null || !Model.InvoiceOrderItem.Any())
    {
        <section class="p-0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 style=“text-align:center”> سبد خرید شما خالی است</h3>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
          <ul class="cart_product">
     @foreach (var item in Model.InvoiceOrderItem)
        {
            <li>
            <div class="media">
                <a href="#">
                    <img alt="" class="me-3" src="~/images/pro/1.jpg">
                </a>
                <div class="media-body">
                    <a href="#">
                        <h4> @item.Product.ProductTitle </h4>
                    </a>
                    <h4>
                            <span><span>@item.Count</span> <span>عدد</span> <span> @{
                                        var tedad = item.Count; var TotalForPrduct = item.Price * tedad;<span class="td-color">@TotalForPrduct</span>
                                    }</span></span>
                    </h4>
                </div>
            </div>
            <div class="close-circle">
                <a href="#">
                    <i class="ti-trash" aria-hidden="true"></i>
                </a>
            </div>
        </li> 
        } 
    </ul>
    <ul class="cart_total">
        <li>
            <div class="total">
                <h5>جمع کل :  <span>@{int TotalFainal = 0;foreach (var item in Model.InvoiceOrderItem){var tedadProduct = item.Count;var Total = item.Price * tedadProduct;var tedadOrderItem = Model.InvoiceOrderItem.Count();TotalFainal += Convert.ToInt32(Total);}<span>@TotalFainal</span>}</span></h5>
            </div>
        </li>
        <li>
            <div class="buttons">
                <a href="cart.html" class="btn btn-solid btn-xs view-cart">دیدن سبد خرید</a>
                <a href="#" class="btn btn-solid btn-xs checkout">بررسی </a>
            </div>
            
        </li>
    </ul>  
    }


</div>