@model ShoeStore.Domain.DTOs.SiteSide.Account.EditProfileSiteSideDto
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>ویرایش اطلاعات</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">خانه</a></li>
                        <li class="breadcrumb-item"><a asp-controller="User" asp-action="UserProfile">پروفایل</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ویرایش اطلاعات</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- personal deatail section start -->
<section class="contact-page register-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>ویرایش اطلاعات تماس</h3>
                <form asp-controller="User" asp-action="EditProfile" method="post" enctype="multipart/form-data" class="theme-form">
                    <input type="hidden" asp-for="Id"/>
                    <input type="hidden" asp-for="UserOriginalAvatar"/>
                    <div class="form-row row">
                        <div class="form-group row">
                            <div>
                                @if (string.IsNullOrEmpty(Model.UserOriginalAvatar))
                                {
                                    <img style="margin: 20px; width: 200px; height: 200px" id="imgAvatar" src="/images/Defult.jpg" alt="" />
                                }
                                else
                                {
                                    <img style="margin: 20px; width: 200px; height: 200px" id="imgAvatar" src="/images/UserAvatar/@Model.UserOriginalAvatar" alt="" />
                                }

                            </div>
                            <div class="col-xl-8 col-md-7">
                                <label for="validationCustom0" class="col-xl-3 col-md-4">انتخاب عکس </label>
                                <input asp-for="UserAvatar" class="form-control upload" type="file">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="name">نام </label>
                            <input asp-for="FirstName"  type="text" class="form-control" id="name"  required="">
                            <span style="color: red; position: relative;" asp-validation-for="FirstName"></span>

                        </div>
                        <div class="col-md-6">
                            <label for="email">نام خانوادگی </label>
                            <input asp-for="LastName" type="text" class="form-control" id="last-name"  required="">
                            <span style="color: red; position: relative;" asp-validation-for="LastName"></span>

                        </div>
                        <div class="col-md-6">
                            <label for="review">شماره موبایل</label>
                            <input asp-for="Mobile" type="text" class="form-control" id="review"  required="">
                            <span style="color: red; position: relative;" asp-validation-for="Mobile"></span>

                        </div>
                        <div class="col-md-6">
                            <label for="email">پسورد</label>
                            <input asp-for="Password" type="password" class="form-control" id="email"  required="">
                            <span style="color: red; position: relative;" asp-validation-for="Password"></span>

                        </div>
                        <div class="col-md-6">
                            <label for="email"> تکرار پسورد</label>
                            <input asp-for="RePassword" type="password" class="form-control" id="email" required="">
                            <span style="color: red; position: relative;" asp-validation-for="RePassword"></span>

                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-sm btn-solid" type="submit">ذخیره تنظیمات</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
@section scripts
{
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#UserAvatar").change(function () {
            readURL(this);
        });
    </script>
}