@using ShoeStore.Application.Utilities
@model List<ShoeStore.Domain.Entities.Comment.Comment>

<div class="tab-pane fade" id="top-comments" role="tabpanel" aria-labelledby="listOfComments-top-tab">
    <div class="row section-b-space blog-detail-page ratio2_3">
        <div class="col-sm-12">
            <ul class="comment-section">
                @foreach (var comment in Model)
                {
                    <li>
                        <div class="media">
                            <img src="/images/Defult.jpg" alt="عکس محصول ">
                            <div class="media-body">
                                <h6>@User.Identity.Name <span>@comment.CreateDate.ToShamsi()</span></h6>
                                <p>@comment.MessageBody</p>
                            </div>
                        </div>
                    </li>
                }
                
            </ul>
        </div>
    </div>
</div>


