
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="multikart">
    <meta name="keywords" content="multikart">
    <meta name="author" content="multikart">
    <link rel="icon" href="~/images/favicon/10.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/images/favicon/10.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>Multikart - قالب Html تجارت الکترونیک چند منظوره</title>

    <!--Google font-->
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="~/css/vendors/font-awesome.css">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="~/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendors/slick-theme.css">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="~/css/vendors/animate.css">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="~/css/vendors/themify-icons.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/css/vendors/bootstrap.css">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

</head>

<body class="theme-color-10 rtl">

    <!-- loader start -->
    <div class="loader_skeleton">
        <header class="header-2">
            <div class="top-header top-header-dark d-none d-sm-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="header-contact">
                                <ul>
                                    <li>خوش آمدید به فروشگاه مالتی کارت</li>
                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <a style="color: white" asp-action="ContactUs" asp-controller="ContactUs">تماس با ما </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 text-end">
                            <ul class="header-dropdown">
                                <li class="mobile-wishlist">
                                    <a href="#">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                        علاقه مندی
                                    </a>
                                </li>
                                <li class="onhover-dropdown mobile-account">
                                    <i class="fa fa-user" aria-hidden="true"></i> حساب کاربری
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main-menu border-section border-top-0">
                            <div class="menu-left">
                                <div class="navbar">
                                    <a href="javascript:void(0)" onclick="openNav()"><i class="fa fa-bars sidebar-bar" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="brand-logo layout2-logo">
                                <a href="#"><img src="~/images/icon/logo/6.png" class="img-fluid blur-up lazyload" alt=""></a>
                            </div>
                            <div class="menu-right pull-right">
                                <div class="icon-nav d-none d-sm-block">
                                    <ul>
                                        <li class="onhover-div mobile-search">
                                            <div><img src="~/images/icon/search.png" onclick="openSearch()" class="img-fluid blur-up lazyload" alt=""> <i class="ti-search" onclick="openSearch()"></i></div>
                                        </li>
                                        <li class="onhover-div mobile-setting">
                                            <div>
                                                <img src="~/images/icon/setting.png" class="img-fluid blur-up lazyload" alt=""> <i class="ti-settings"></i>
                                            </div>
                                        </li>
                                        <li class="onhover-div mobile-cart">
                                            <div href="javascript:void(0)" onclick="openCart()"><img src="~/images/icon/cart.png" class="img-fluid blur-up lazyload" alt=""> <i class="ti-shopping-cart"></i></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-nav-center">
                            <nav>
                                <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                <!-- Sample menu definition -->
                                @* <ul class="sm pixelstrap sm-horizontal">
                                <li>
                                <div class="mobile-back text-start ltr">برگشت<i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                                </li>
                                <li>
                                <a href="index.html">خانه</a>
                                </li>
                                <li>
                                <a href="#">ویژگی <div class="lable-nav">جدید</div></a>
                                </li>
                                <li>
                                <a href="#">فروشگاه</a>
                                </li>
                                <li>
                                <a href="#">محصول</a>
                                </li>
                                <li>
                                <a href="#">صفحات</a>
                                </li>
                                <li>
                                <a href="#">وبلاگ</a>
                                </li>
                                </ul> *@
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="home-slider">
            <div class="home"></div>
        </div>
        <div class="container category-ldr">
            <section class="section-b-space border-section border-top-0">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="category-block col-2">
                                <a href="#">
                                    <div class="category-image svg-image">
                                    </div>
                                </a>
                                <div class="category-details">
                                    <h5></h5>
                                </div>
                            </div>
                            <div class="category-block col-2">
                                <a href="#">
                                    <div class="category-image svg-image">
                                    </div>
                                </a>
                                <div class="category-details">
                                    <h5></h5>
                                </div>
                            </div>
                            <div class="category-block col-2">
                                <a href="#">
                                    <div class="category-image svg-image">
                                    </div>
                                </a>
                                <div class="category-details">
                                    <h5></h5>
                                </div>
                            </div>
                            <div class="category-block col-2 d-none d-md-block">
                                <a href="#">
                                    <div class="category-image svg-image">
                                    </div>
                                </a>
                                <div class="category-details">
                                    <h5></h5>
                                </div>
                            </div>
                            <div class="category-block col-2 d-none d-lg-block">
                                <a href="#">
                                    <div class="category-image svg-image">
                                    </div>
                                </a>
                                <div class="category-details">
                                    <h5></h5>
                                </div>
                            </div>
                            <div class="category-block col-2 d-none d-xl-block">
                                <a href="#">
                                    <div class="category-image svg-image">
                                    </div>
                                </a>
                                <div class="category-details">
                                    <h5></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="collection-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="product-para">
                            <p class="first"></p>
                            <p class="second"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="ldr-bg">
                            <div class="contain-banner">
                                <div>
                                    <h4></h4>
                                    <h2></h2>
                                    <h6></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ldr-bg">
                            <div class="contain-banner">
                                <div>
                                    <h4></h4>
                                    <h2></h2>
                                    <h6></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container section-b-space">
            <div class="row section-t-space">
                <div class="col-12">
                    <div class="no-slider row">
                        <div class="product-box">
                            <div class="img-wrapper"></div>
                            <div class="product-detail">
                                <h4></h4>
                                <h5></h5>
                                <h5 class="second"></h5>
                                <h6></h6>
                            </div>
                        </div>
                        <div class="product-box">
                            <div class="img-wrapper"></div>
                            <div class="product-detail">
                                <h4></h4>
                                <h5></h5>
                                <h5 class="second"></h5>
                                <h6></h6>
                            </div>
                        </div>
                        <div class="product-box">
                            <div class="img-wrapper"></div>
                            <div class="product-detail">
                                <h4></h4>
                                <h5></h5>
                                <h5 class="second"></h5>
                                <h6></h6>
                            </div>
                        </div>
                        <div class="product-box">
                            <div class="img-wrapper"></div>
                            <div class="product-detail">
                                <h4></h4>
                                <h5></h5>
                                <h5 class="second"></h5>
                                <h6></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- loader end -->
    <!-- header start -->
    <header class="header-2">
        <div class="mobile-fix-option"></div>
        <div class="top-header top-header-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-contact">
                            <ul>
                                <li>خوش آمدید به فروشگاه مالتی کارت</li>
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <a style="color: white" asp-action="ContactUs" asp-controller="ContactUs">تماس با ما </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 text-end">
                        <ul class="header-dropdown">
                            <li class="mobile-wishlist">
                                <a href="#">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    علاقه مندی
                                </a>
                            </li>
                            <li class="onhover-dropdown mobile-account">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                حساب کاربری
                                <ul class="onhover-show-div">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-controller="User" asp-action="UserProfile">پروفایل</a></li>
                                        <li><a asp-controller="Account" asp-action="Logout">خروج</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-controller="Account" asp-action="Login">ورود</a></li>
                                        <li><a asp-controller="Account" asp-action="Register">ثبت نام</a></li>
                                    }

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-menu border-section border-top-0">
                        @await Component.InvokeAsync("RightMenu")
                        <div class="brand-logo layout2-logo">
                            <a href="#"><img src="~/images/icon/logo/6.png" class="img-fluid blur-up lazyload" alt=""></a>
                        </div>
                        <div class="menu-right pull-right">
                            <div class="icon-nav">
                                <ul>
                                    <li class="onhover-div mobile-search">
                                        <div><img src="~/images/icon/search.png" onclick="openSearch()" class="img-fluid blur-up lazyload" alt=""> <i class="ti-search" onclick="openSearch()"></i></div>
                                        <div id="search-overlay" class="search-overlay">
                                            <div>
                                                <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
                                                <div class="overlay-content">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-xl-12">
                                                                <form>
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="جستجو محصول ">
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="onhover-div mobile-setting">
                                        <div>
                                            <img src="~/images/icon/setting.png" class="img-fluid blur-up lazyload" alt=""> <i class="ti-settings"></i>
                                        </div>
                                        <div class="show-div setting">
                                            <h6>زبان </h6>
                                            <ul>
                                                <li><a href="#">انگلیسی</a></li>
                                                <li><a href="#">فرانسه </a></li>
                                            </ul>
                                            <h6>پول</h6>
                                            <ul class="list-inline">
                                                <li><a href="#">یورو</a></li>
                                                <li><a href="#">تومان</a></li>
                                                <li><a href="#">پوند</a></li>
                                                <li><a href="#">دلار</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="onhover-div mobile-cart">
                                        <div href="javascript:void(0)" onclick="openCart()"><img src="~/images/icon/cart.png" class="img-fluid blur-up lazyload" alt=""> <i class="ti-shopping-cart"></i></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-nav-center">
                        <nav id="main-nav">
                            <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                            @await Component.InvokeAsync("TopMenu")
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    @RenderBody()



    <!-- footer -->
    <footer>
        <div class="white-layout">
            <section class="p-0">
                <div class="container-fluid">
                    <div class="row footer-theme2 section-light footer-border">
                        <div class="col">
                            <div class="footer-block">
                                <div class="footer-container">
                                    <div class="footer-title footer-mobile-title">
                                        <h4>درباره ما </h4>
                                    </div>
                                    <div class="footer-contant">
                                        <div class="footer-logo">
                                            <img src="~/images/icon/logo/6.png" alt="">
                                        </div>
                                        <div class="social-white">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col form-p p-0">
                            <div class="footer-block">
                                <div class="subscribe-white">
                                    <h2>خبر نامه </h2>
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="exampleFormControlInput" placeholder="ایمیل را وارد کنید ">
                                            <button type="submit" class="btn btn-solid black-btn">عضویت </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="footer-block">
                                <div class="footer-container">
                                    <div class="footer-title">
                                        <h4>ذخیره اطلاعات</h4>
                                    </div>
                                    <div class="footer-contant">
                                        <ul class="contact-details">
                                            <li>فروشگاه نسخه ی نمایشی فروشگاه نسخه ی نمایشی 345-659</li>
                                            <li>تماس با ما : 123-456-520</li>
                                            <li>ایمیل ما :  <a href="#">Support@Fiot.com</a></li>
                                            <li>فکس : 123456 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="white-layout box-layout">
            <div class="container">
                <section class="small-section">
                    <div class="row footer-theme2">
                        <div class="col">
                            <div class="footer-link link-white">
                                <div class="footer-title">
                                    <h4>حساب کاربری </h4>
                                </div>
                                <div class="footer-contant">
                                    <ul>
                                        <li><a href="#">مردانه </a></li>
                                        <li><a href="#">زنانه </a></li>
                                        <li><a href="#">تن پوش</a></li>
                                        <li><a href="#">لوازم جانبی</a></li>
                                        <li><a href="#">ویژه </a></li>
                                        <li><a href="#">خدمات </a></li>
                                        <li><a href="#">سبد خرید</a></li>
                                        <li><a href="#">سفارشات</a></li>
                                        <li><a href="#">سوالات متداول </a></li>
                                        <li><a href="#"> محصول</a></li>
                                        <li><a href="#">محصول ویژه </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="sub-footer black-subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="footer-end">
                            <p><i class="fa fa-copyright" aria-hidden="true"></i> 1401 طراحی شده توسط گروه ستین </p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="payment-card-bottom">
                            <ul>
                                <li>
                                    <a href="#"><img src="~/images/icon/visa.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/images/icon/mastercard.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/images/icon/paypal.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/images/icon/american-express.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/images/icon/discover.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <!-- Add to cart bar -->
    <div id="cart_side" class=" add_to_cart bottom">
        <a href="javascript:void(0)" class="overlay" onclick="closeCart()"></a>
        <div class="cart-inner">
            <div class="cart_top">
                <h3>سبد خرید من</h3>
                <div class="close-cart">
                    <a href="javascript:void(0)" onclick="closeCart()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="cart_media">
                <ul class="cart_product">
                    <li>
                        <div class="media">
                            <a href="#">
                                <img alt="" class="me-3" src="~/images/pro/1.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    <h4>نام محصول </h4>
                                </a>
                                <h4>
                                    <span>1 عدد 290000</span>
                                </h4>
                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="#">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="#">
                                <img alt="" class="me-3" src="~/images/pro/2.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    <h4>نام محصول </h4>
                                </a>
                                <h4>
                                    <span>1 عدد 290000</span>
                                </h4>
                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="#">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="#"><img alt="" class="me-3" src="~/images/pro/3.jpg"></a>
                            <div class="media-body">
                                <a href="#">
                                    <h4>نام محصول </h4>
                                </a>
                                <h4><span>1 عدد 290000</span></h4>
                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="#">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="cart_total">
                    <li>
                        <div class="total">
                            <h5>جمع کل :  <span>299000</span></h5>
                        </div>
                    </li>
                    <li>
                        <div class="buttons">
                            <a href="cart.html" class="btn btn-solid btn-xs view-cart">دیدن سبد خرید</a>
                            <a href="#" class="btn btn-solid btn-xs checkout">بررسی </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Add to cart bar end-->
    <!-- Quick-view modal popup start-->
    <div class="modal fade bd-example-modal-lg theme-modal" id="quick-view" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content quick-view-modal">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">
                            <div class="quick-view-img"><img src="~/images/pro3/1.jpg" alt="" class="img-fluid blur-up lazyload"></div>
                        </div>
                        <div class="col-lg-6 rtl-text">
                            <div class="product-right">
                                <h2>تی شرت چوگان جامد بنفش</h2>
                                <h3>132.96</h3>
                                <ul class="color-variant">
                                    <li class="bg-light0"></li>
                                    <li class="bg-light1"></li>
                                    <li class="bg-light2"></li>
                                </ul>
                                <div class="border-product">
                                    <h6 class="product-title">جزئیات محصول </h6>
                                    <p>اما تا ببینی این همه خطا از کجا نشأت می‌گیرد کسانی که لذت را متهم می‌کنند و درد را ستایش می‌کنند</p>
                                </div>
                                <div class="product-description border-product">
                                    <div class="size-box">
                                        <ul>
                                            <li class="active"><a href="javascript:void(0)">s</a></li>
                                            <li><a href="javascript:void(0)">m</a></li>
                                            <li><a href="javascript:void(0)">l</a></li>
                                            <li><a href="javascript:void(0)">xl</a></li>
                                        </ul>
                                    </div>
                                    <h6 class="product-title">تعداد </h6>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <span class="input-group-prepend"><button type="button" class="btn quantity-left-minus" data-type="minus" data-field=""><i class="ti-angle-right"></i></button> </span>
                                            <input type="text" name="quantity" class="form-control input-number" value="1"> <span class="input-group-prepend"><button type="button" class="btn quantity-right-plus" data-type="plus" data-field=""><i class="ti-angle-left"></i></button></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-buttons"><a href="#" class="btn btn-solid">اضافه کردن به سبد</a> <a href="#" class="btn btn-solid">دیدن جزئیات </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quick-view modal popup end-->
    <!-- theme setting -->
    <div class="theme-settings">
        <ul>
            <li>
                <div class="dark-btn">تاریک</div>
            </li>

            <li class="input-picker">
                <input id="ColorPicker1" type="color" value="#fa869b" name="Background">
            </li>
        </ul>
    </div>
    <!-- theme setting -->
    <!-- tap to top start -->
    <div class="tap-top">
        <div><i class="fa fa-angle-double-up"></i></div>
    </div>
    <!-- tap to top end -->
    <!-- latest jquery-->
    <script src="~/js/jquery-3.3.1.min.js"></script>

    <!-- slick js-->
    <script src="~/js/slick.js"></script>

    <!-- menu js-->
    <script src="~/js/menu.js"></script>

    <!-- اضافه کردن به سبد js -->
    <script src="~/js/addtocart.js"></script>

    <!-- lazyload js-->
    <script src="~/js/lazysizes.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap Notification js-->
    <script src="~/js/bootstrap-notify.min.js"></script>

    <!-- Theme js-->
    <script src="~/js/theme-setting.js"></script>
    <script src="~/js/script.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <partial name="_Notification" />
    @await RenderSectionAsync("scripts", false)
    <script>

        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }
    </script>
</body>

</html>